version: "3.8"

services:
  backend:
    image: juhisinha/mern-backend:latest
    container_name: backend
    ports:
      - "5000:5000"
    env_file:
      - .env

  frontend:
    image: juhisinha/mern-frontend:latest
    container_name: frontend
    ports:
      - "80:80"
    depends_on:
      - backend

