name: Deploy MERN App on EC2 (Self Hosted Runner)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Create environment file
        run: |
          echo "MONGO_URI=${{ secrets.MONGO_URI }}" > .env

      - name: Stop existing containers
        run: |
          docker compose down || true

      - name: Build and start containers
        run: |
          docker compose up --build -d

